$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #4a4a4a;
$link-color: #209cee;
$button-text: #fff;
$shadow-color: #dbdbdb;

*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	color: $primary-color;
	font: 100% $font-stack;
}
a {
	color: $link-color;
	cursor: pointer;
	text-decoration: none;
}
p {
	color: $primary-color;
	display: block;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.25;
	margin-bottom: 1.5rem;
	width: 100%;
}
h1 {
	color: $primary-color;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.125;
	text-align: center;
	word-break: break-word;
}
h2 {
	color: $primary-color;
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 1.125;
	word-break: break-word;
}
img {
	max-width: 100%;
}
section {
	padding: 0 1.5rem;
}
input {
	border: 1px solid $shadow-color;
	border-radius: 4px;
	box-shadow: $secondary-color 1px 1px 2px 1px inset;
	color: $primary-color;
	display: inline-flex;
	font-size: 1.5rem;
	height: 2.25em;
	line-height: 1.5;
	padding: calc(0.375em - 1px) calc(0.625em - 1px);
	position: relative;
	width: 100%;
}
button {
	align-items: center;
	background-color: $link-color;
	border: 1px solid transparent;
	border-color: transparent;
	border-radius: 0 4px 4px 0;
	box-shadow: none;
	color: $button-text;
	display: inline-flex;
	font-size: 1.5rem;
	height: 2.25em;
	justify-content: center;
	line-height: 1.5;
	padding: calc(0.375em - 1px) 0.75em;
	text-align: center;
	white-space: nowrap;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
}
.container,
.flex-container {
	margin: 0 auto;
	position: relative;

	@media screen and (min-width: 1472px) {
		max-width: 1344px;
		width: 1344px;
	}
	@media screen and (min-width: 1280px) {
		max-width: 1152px;
		width: 1152px;
	}
	@media screen and (min-width: 1088px) {
		max-width: 960px;
		width: 960px;
	}
}

.field {
	display: flex;
	justify-content: flex-start;
}

.control {
	clear: both;
	font-size: 1rem;
	position: relative;
	text-align: left;
	&:first-child {
		flex-grow: 1;
	}
	&:not(:last-child) {
		margin-right: -1px;
	}
}
.book {
	border-radius: 1.25rem;
	box-shadow: 0 0.5em 1em -0.125em $shadow-color;
	color: $primary-color;
	height: fit-content;
	flex: 1 1 25%;
	margin: 0 .5em 2em;
	max-width: 100%;
	position: relative;
	.book-cover {
		width: 100%;
		text-align: center;
		img {
			display: block;
			margin: auto;
		}
	}
	.book-content {
		padding: 0 1.5rem;
	}
	.book-cover,
	.book-title {
		margin: 0;
	}

	.book-title {
		color: $primary-color;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.125;
		margin: 0;
	}
	.book-author {
		color: $secondary-color;
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.25;
		margin: .5rem 0 1.5rem;
	}
}
.book-footer {
	display: flex;
	width: 100%;
	height: 50px;
	margin: auto;
	border-top: 1px solid $shadow-color;
	align-items: center;
	justify-content: center;

	a {
		align-items: center;
		display: flex;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 0;
		justify-content: center;
		padding: 0.75rem;
	}
}
