name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile || yarn install

      - name: Lint
        run: yarn lint

      - name: Run unit tests
        run: yarn test -- --reporter=dot

      - name: Build
        run: yarn build
